<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Landing | Node Auth</title>
   <h1> Welcome </h1>
  </head>
  <body>
    <ul class="nav">
      <li>
        <a href="/login">Login</a>
      </li>
      <li>
        <a href="/loginAdmin">Admin Login</a>
      </li>
      <li>
        <a href="/register">Register</a>
      </li>
    </ul>
    <!-- <h3>Welcome</h3> -->
  </body>
</html>